body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    /*background: url('background-image-url.jpg') no-repeat center center fixed;*/
    background-size: cover;
  }
  
  .about-container {
    padding: 50px 20px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  
  .about-container:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  }
  
  .about-header {
    margin-bottom: 40px;
  }
  
  .about-header h1 {
    font-size: 3em;
    color: #333;
    position: relative;
  }
  
  .header-underline {
    width: 100px;
    height: 4px;
    background-color: #007bff;
    margin: 10px auto 0 auto;
  }
  
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    animation: fadeIn 1.5s ease-in-out;
  }
  
  .about-image {
    margin-bottom: 30px;
  }
  
  .about-image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border: 5px solid #007bff;
  }
  
  .about-image img:hover {
    transform: scale(1.1);
  }
  
  .about-text {
    max-width: 800px;
    text-align: justify;
  }
  
  .about-text h2 {
    font-size: 2.5em;
    color: #007bff;
    margin-bottom: 20px;
  }
  
  .about-text p {
    color: #555;
    line-height: 1.8;
    margin-bottom: 25px;
    font-size: 1.1em;
  }
  
  .contact-button {
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  